:root {
    margin: 0;
    padding: 0;
    --color-primary: #9D8AFF;
    --color-secondary: #5941A9;
    --color-accent: #9888D8;
    --color-white: #FFFFFF;
    --color-light-gray: #E5E5E5;
    --color-dark: #0B0418;
}